.Footer_Section{
    background-color: #000d62;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: url("../images/cursor/Pointer.png"), pointer;
}
.Footer_container > p{
    margin: 0;
}