.Main_Upcoming{
    background-color: aliceblue;
    padding-top: 50px;
    padding-bottom: 50px;
}
.Main_Upcoming_content > h1{
    text-align: center;
    margin-bottom: 50px;
}

.UpcomingCamp_Card_container{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}


@media (max-width: 1030px){
    .UpcomingCamp_Card_container{
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 30px;
    }
}

@media (max-width: 850px){
    .UpcomingCamp_Card_container{
    padding: 0;
    }
}

@media (max-width: 500px){
    .UpcomingCamp_Card_container{
        flex-direction: column;
        justify-content: center;
    }
    .Main_Upcoming_content > h1{
        margin-bottom: 70px;
    }
}

