.News_section{
    padding: 50px 25px;
    padding-bottom: 100px;
    background-color: aliceblue;
}
.News_Card_Container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.News_container > h1{
    text-align: center;
    margin-bottom: 50px;
}
.More_News{
    /*margin-top: 70px;*/
    padding: 0;
    max-height: 3000px;
    transform: translateY(0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s ease-in;
}
.More_News.hide{
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    transform: translateY(50px);
    overflow: hidden;
    transition: all 1s ease-in;
}

.More_News.active{
    height: auto;
    margin: auto;
    margin-top: 70px;
    max-height: 3000px;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.5s ease-out;
}

.News_View{
    width: 130px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    background-color: #000d62;
    color: white;
    border-radius: 50px;
    box-shadow:  0 5px 8px rgba(0, 0, 0, 0.1);;
    cursor: url("../images/cursor/Pointer.png"), pointer;
    padding: 5px 10px;
    transition: all 1s ease-out;
}

/*
@keyframes FadeoutNews {
    0%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(25px);
    }
    100%{
        transform: translateY(50px);
    }
}
*/

/*-------IPAD PRO AND 11------*/
@media (max-width: 1030px){
    .News_Card_Container, .More_News{
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

/*-------IPHONE 16PRO MAX - 11 PRO MAX*/
@media (max-width: 450px){
    .News_Card_Container, .More_News{
        flex-wrap: wrap;
        justify-content: center;
    }

    .News_section{
        padding-top: 0;
    }

    .More_News{
        margin-top: 0;
    }

    .News_View{
        margin-top: 0;
    }
}
